@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", Arial, sans-serif;
}
nav {
    display: flex;
   flex-direction: row; 
   justify-content: space-around;
   background-color: blue;
   height: 70px;
   display: flex;
      align-items: center;
      width: 100%;

}

.navigation {
     display: flex;
   flex-direction: row; 
   justify-content: space-around;
   gap: 20px;
}

a {
    text-decoration: none;
}

.text-white {
    color: white;
}

.text-bold {
    font-weight: bold;
}

.get-a-quote {
    color: white;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    background-color: rgb(201, 110, 6);
    padding: 10px;
    border: none;
    outline: none;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./images/business.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 60px;
}

.header-text {
display: flex;
flex-direction: column; 
justify-content: center;
align-items: center;   
height: 100vh;
text-align: center;
}

.small-space {
    margin-bottom: 0;
}


.text-bigger {
    font-size: 62px;
}

.what-we-do {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 100px;
    justify-content: space-between;
}

.what-we-do-text {
    text-align: center;
}

.success-stories-text {
    text-align: center;
    
}

.success-stories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 5px solid red; */
    /* padding: 20px 20px 20px 20px; */
    background-color: #6495ED;
    margin-bottom: 50px;
}

/* .sucess-img {
    width: 10%;
    height: auto;
} */

img {
    width: 50%;
}

.success {
    width: 300px;
    height: auto; /* maintains aspect ratio */
}



.blog-text {
    text-align: center;
}


.blogs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
}

.contact-us {
    text-align: center;
    margin-top: 60px;
}

/* form {
    margin: 0 auto;
    width: 250px;
    margin-right: 90px;
    border: 5px solid red;
    margin-left: px;
    align-items: center;
} */

.contact{
    display: flex;
    justify-content: center;
}

/* img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 80%;
  height: 80%;
} */



.underline {
    text-decoration: underline;
}

/* .sucess-img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 80%;
  height: 80%
} */

form {
    border: 3px solid black;
    width: 20%;
    height: 20%;
    padding: 5px 5px 5px 5px;
    border-radius: 4px;
}

input, label, select {
    width: 100%;
    
}

footer {
    color: white;
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin-top: 60px;
    background-color: blue;
}
/* nav{
    height: 687;
    padding: 67;
    justify-content: last baseline;
} */

